streamlit
langchain
langchain-openai
langchain-community
chromadb
unstructured
sentence-transformers
faiss-cpu
tiktoken
openai
pypdf
loguru
docx2txt
pykospacing @ git+https://github.com/haven-jeon/PyKoSpacing.git@103ff614a2edf6df87d289ccaf99822b9afa9a42